*/__init__.py
*/.ipynb_checkpoints
*/__pycache__
*/grid_plot.png
*/visualize_polynomial_regression.png
ridge_regression.png
grid_plot.png
visualize_polynomial_regression.png
__init__.py
.ipynb_checkpoints
__pycache__
leastSquares/ex03.ipynb
bias_variance.png
cross_validation.png
